{
  "extends": [
    "@eslint-kit/patch",
    "@eslint-kit/base"
  ],

  "env": {
    "browser": true
  },

  "parser": "babel-eslint",

  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "never"]
  }
}
