<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kagi Search</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div id="app">
      {%include "./src/projects/project-1.html"%}
      {%include "./src/projects/project-2.html"%}
    </div>

    <div id="popups">
      {%include "./src/components/search-menu.html"%}
      {%include "./src/components/edit-menu.html"%}
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
