/* Required */
@import "./src/fonts/fonts.css";
@import "./src/css/base.css";
@import "./src/css/vars.css";

/* Components */
@import "./src/css/checkbox.css";
@import "./src/css/input.css";
@import "./src/css/popup.css";

/* Parts */
@import "./src/css/widget.css";
@import "./src/css/nav.css";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'lufgaregular', sans-serif;
  font-size: 16px;
}

button {
  font-family: inherit;
}

.project {
  margin: 20px 20px 0;
}

.project__title {
  margin: 0 0 25px 0;
  text-align: center;
  font-weight: normal;
  font-family: 'lufgarmedium', sans-serif;
}
