<div class="popup edit-menu">
  <section class="popup__section">
    <h3 class="popup__section-title">
      Edit search menu
    </h3>

    <ul class="popup__section-list"></ul>
    <p class="popup__section-item--empty-state">
      Please add some engine..
    </p>
  </section>
  <section class="popup__section popup__section--border">
    <h3 class="popup__section-title">
      Edit menu item
    </h3>

    <form class="edit-menu__form">
      <label class="input">
        <span class="label">
          Search engine name
        </span>
        <input
          type="text"
          name="label"
          placeholder="Example"
          required
        >
      </label>

      <label class="input">
        <span class="label">
          URL
        </span>
        <input
          type="url"
          name="href"
          placeholder="https://example.com"
          required
        >
      </label>

      <label class="input">
        <span class="label">
          !Bang
        </span>
        <input
          type="text"
          name="bang"
          placeholder="!ex"
          required
        >
      </label>

      <footer class="edit-menu__footer">
        <button
          class="edit-menu__form-action edit-menu__form-action--primary edit-menu__form-action--submit"
          name="submit"
        >
          Add
        </button>
        <button
          class="edit-menu__form-action edit-menu__form-action--cancel trigger"
          type="button"
        >
          Cancel
        </button>
      </footer>
    </form>
  </section>
</div>
