.widget-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  gap: 20px;
}

.widget {
  flex: 1 0;
  border: 2px solid var(--color-primary-dim_1);
  border-radius: 8px;
  padding: 20px 20px 0;
}

.widget__title {
  font-size: 24px;
  font-family: 'lufgaregular', sans-serif;
  font-weight: normal;
  margin: 0 0 29px 0;
}

.widget__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget__item:not(.widget__item--action) {
  margin-bottom: 20px;
}

.widget__item:nth-child(n + 11) {
  display: none;
}

.widget__item.widget__item--action {
  display: none;
}

.widget__checkbox {
  border: 1px solid var(--color-secondary);
}

.widget__show-more-label {
  cursor: pointer;
  text-align: center;
  display: block;
  padding: 5px 0 25px;
}

.widget__item.widget__item--action:nth-child(n + 12) {
  display: block;
}

.widget__show-more-text {
  display: none;
}

.widget__toggler:not(:checked) ~ .widget__list .widget__item .widget__show-more-label .widget__show-more-text--more,
.widget__toggler:checked ~ .widget__list .widget__item .widget__show-more-label .widget__show-more-text--less,
.widget__toggler:checked ~ .widget__list .widget__item:nth-child(n + 11) {
  display: block;
}
